<!-- ====== SLIDER ====== -->
<div class="slider-body">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./images/slider/01.webp" alt="1 image">
            </div>
            <div class="swiper-slide">
                <img src="./images/slider/02.webp" alt="2 image">
            </div>
            <div class="swiper-slide">
                <img src="./images/slider/03.webp" alt="3 image">
            </div>
        </div>
    </div>
    <!-- ===== BUTTONS ===== -->
    <div class="swiper-button-prev">
        <img src="./images/slider/arrow-left.svg" alt="left-slide">
    </div>
    <div class="swiper-button-next">
        <img src="./images/slider/arrow-right.svg" alt="left-slide">
    </div>
    <!-- ==== PAGINATION ==== -->
    <div class="swiper-pagination"></div>
</div>